header {
  width: 100%;
  height: 80%;
  min-height: 650px;

  .navbar-fixed-top {
    background-color: transparent;
    border: none;
    top: 50px;
    letter-spacing: 2px;

    .navbar-brand {
      img {
        width: 50%;
      }
    }

    .nav {
      > li {
        font-size: 14px;

        &.active > a,
        &.active > a:active,
        &.active > a:hover,
        &.active > a:focus,
        &.active > a:visited {
          background: transparent;
        }

        > a {
          color: #fff;
          text-transform: uppercase;
          padding-left: 20px;
          padding-right: 20px;
        }

        &:last-child a {
          padding-right: 15px;
        }
      }
    }

    &.default-style {
      background: #21422a;
      top: 0;

      .navbar-brand {
        display: none;
      }

      .navbar-right {
        position: relative;
        float: left!important;
        display: block;
        left: 50%;

         > li {
          position: relative;
          float: left;
          display: block;
          right: 50%;

          &:last-child a {
            padding-right: 20px;
          }
        }
      }
    }
  }

  .intro-section {
    @extend %vertical-center;
    background-size: cover;
    background-position: center;
    background-image: url('./images/main-bg.jpg');
    width: 100%;
    height: 100%;

    .section-text {
      @media (min-width: $screen-sm-min) {
        width: $container-sm;
      }
      @media (min-width: $screen-md-min) {
        width: $container-md;
      }
      @media (min-width: $screen-lg-min) {
        width: $container-lg;
      }

      img {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}