h1 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 33.5px;
  margin: 0 0 15px 0;

  &.small {
    font-size: 22px;
    color: #222;
  }

  &.medium {
    font-size: 28px;
  }

  a:hover {
    color: #939191;
    text-decoration: none;
    -webkit-transition: color .8s ease-out;
    transition: color .8s ease-out;
  }
}

.md-heading h1 {
  font-size: 28px;
}

.sm-heading {
  font-size: 14px;
  line-height: 20px; 

  h1 {
    font-size: 22px;
    color: #222;
  }
}

h2 {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 33px;
}

h3 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 19px;
}

h4 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.post-meta,
.sections .post-meta > h2,
.post-meta > h2 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #989898;
  line-height: normal;
}

.post-meta {
  > h2 { 
    display: inline-block; 
    margin-right: 10px;
  }

  a, a:active, a:focus, a:hover, a:visited {
    color: #989898;
  }
}

.sidebar {
  margin-top: 3px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;

  &.share {
    .post-meta p { padding-top: 14px; }
  }

  .sidebar-title {
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0 0;
    font-size: 35px;
  }

  img {
    margin-top: 10px;
  }

  .sidebar-post-content {
    padding-left: 10px;
  }

  .sidebar-post-image {
    padding-right: 5px;
  }

  hr { margin-bottom: 0 !important ; }
  .post-meta { display: inline-block; }
}

@media (min-width: 992px) {
  .sidebar {
    .row {
      margin-bottom: 0; 

      .border {
        padding-bottom: 20px;
      }

      i {
        font-size: 40px;
      }

      .facebook i { color: #3b5998; }
      .twitter i { color: #1da1f2; }
    }

    .post-meta { font-size: .6em; }

    h4 { 
      margin: 2px 0;
      font-size: .84333em;
    }
  }
}

.rd {
  display: none;

  &.rd-mobile {
    display: block;
  }

  @media (min-width: 992px) {
    display: block;

    &.rd-mobile {
      display: none;
    }
  }
}

.widget_search {
  .form-inline {
    position: relative;

    .form-group {
      width: 100%;

      input[type='search'] {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #000;
        border-radius: 0;
        box-shadow: none;

        @include input-placeholder {
          text-transform: lowercase;
          font-size: 16px;
          letter-spacing: 2px;
        }
      }
    }

    .search-submit {
      background: transparent;
      border: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}