h1 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 33.5px;
  margin: 0 0 15px 0;

  &.small {
    font-size: 22px;
    color: #222;
  }

  &.medium {
    font-size: 28px;
  }

  a:hover {
    color: #939191;
    text-decoration: none;
    -webkit-transition: color .8s ease-out;
    transition: color .8s ease-out;
  }
}

.md-heading h1 {
  font-size: 28px;
}

.sm-heading h1 {
  font-size: 22px;
  color: #222;
}

h2 {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 33px;
}

h3 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 19px;
}

h4 {
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.post-meta,
.sections .post-meta > h2,
.post-meta > h2 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #989898;
  line-height: normal;
}

.post-meta {
  > h2 { 
    display: inline-block; 
    margin-right: 10px;
  }

  a, a:active, a:focus, a:hover, a:visited {
    color: #989898;
  }
}

.rd {
  display: none;

  &.rd-mobile {
    display: block;
  }

  @media (min-width: 992px) {
    display: block;

    &.rd-mobile {
      display: none;
    }
  }
}