.post-meta,
.sections .post-meta > h2 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #989898;
  line-height: normal;
}

.post-meta {
  > h2 { 
    display: inline-block; 
    margin-right: 10px;
  }

  a, a:active, a:focus, a:hover, a:visited {
    color: #989898;
  }
}

.rd {
  display: none;

  &.rd-mobile {
    display: block;
  }

  @media (min-width: 992px) {
    display: block;

    &.rd-mobile {
      display: none;
    }
  }
}